body {
    padding: 0px;
}

.table-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 16px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #E6BA49;
}

tr:nth-child(even) {
    background-color: #b1b1b1;
}




input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #CBE4F2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #7B96A6;
    color: #fff;
}

.cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 { grid-area: 2 / 1 / 3 / 2; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2 { grid-area: 2 / 3 / 3 / 4; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group {
        display: flex;
        align-items: center;
    }
    
    .input-group input[type="text"] {
        flex: 1;
        min-width: 0;
        padding: 8px 12px;
        max-width: 700px;
        width: 100%;
    }
    
    .input-group-btn {
        margin-left: 10px;
    }
    
    .input-group-btn input[type="submit"] {
        padding: 8px 16px;
    }

    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
      }
      .navbar ul li {
        display: inline;
        margin-right: 40px;
      }

      .navbar ul li:hover {
        background-color: #7B96A6;
      }
      .navbar ul li:last-child {
        margin-right: 0;
      }
      .navbar ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .navbar {
        width: 100%;
        background-color: #D9981E;
        padding: 20px 0;
        text-align: center;
      }
      .navbar h1 {
        margin: 0;
        color: black;
      }
      .form-container {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .input-group {
        margin-top: 20px;
        margin-top: 20px;
      }
      .form-control {
        width: 70vh;
        padding: 10px;
      }
      .btn2 {
        padding: 10px 20px;
        margin-bottom: 4px;
      }

      .btn2 {
        background: #f0c760;
        background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
        background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
        background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
        background-image: -o-linear-gradient(top, #f0c760, #d6941a);
        background-image: linear-gradient(to bottom, #f0c760, #d6941a);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 34px;
        padding: 18px 40px 18px 40px;
        text-decoration: none;
      }
      
      .btn2:hover {
        background: #777777;
        background-image: -webkit-linear-gradient(top, #777777, #000000);
        background-image: -moz-linear-gradient(top, #777777, #000000);
        background-image: -ms-linear-gradient(top, #777777, #000000);
        background-image: -o-linear-gradient(top, #777777, #000000);
        background-image: linear-gradient(to bottom, #777777, #000000);
        text-decoration: none;
        cursor: pointer;
      }

  a{
    text-decoration: none;
    color: #ffffff;
  }
  a:hover{
    color: #d6941a;
  }

#productos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
}
.product-item {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-item label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

.product-item input,
.product-item select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.product-item button {
  background-color: #af4c4c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #c01a1a;
}

.vp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.v{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(50% - 5px);
     
    box-sizing: border-box;
    background: #f0c760;
    background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
    background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
    background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
    background-image: -o-linear-gradient(top, #f0c760, #d6941a);
    background-image: linear-gradient(to bottom, #f0c760, #d6941a);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
}

.v:hover {
  background: #777777;
  background-image: -webkit-linear-gradient(top, #777777, #000000);
  background-image: -moz-linear-gradient(top, #777777, #000000);
  background-image: -ms-linear-gradient(top, #777777, #000000);
  background-image: -o-linear-gradient(top, #777777, #000000);
  background-image: linear-gradient(to bottom, #777777, #000000);
  text-decoration: none;
  color: #fff;
}
.v{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: calc(50% - 5px);
     
    box-sizing: border-box;
    background: #f0c760;
    background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
    background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
    background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
    background-image: -o-linear-gradient(top, #f0c760, #d6941a);
    background-image: linear-gradient(to bottom, #f0c760, #d6941a);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
}

.v:hover {
  background: #777777;
  background-image: -webkit-linear-gradient(top, #777777, #000000);
  background-image: -moz-linear-gradient(top, #777777, #000000);
  background-image: -ms-linear-gradient(top, #777777, #000000);
  background-image: -o-linear-gradient(top, #777777, #000000);
  background-image: linear-gradient(to bottom, #777777, #000000);
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .v {
      width: 100%;
  }
}

.container {
  max-width: 800px; 
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cont2{
  margin-top: 20px;
}

#productos {
  margin-bottom: 20px;
}

#productos > div {
  margin-bottom: 10px;
}

#productos label {
  display: inline-block;
  width: 80px;
}

#productos input[type="text"],
#productos input[type="number"] {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#add-product-btn {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.contt{
  margin: auto;
  width: 40%;
}

.btneliminarcot{
  color:#000000; 
  border:2px solid black;
  box-sizing: border-box;
  background: #f0c760;
  background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
  background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
  background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
  background-image: -o-linear-gradient(top, #f0c760, #d6941a);
  background-image: linear-gradient(to bottom, #f0c760, #d6941a);
}

.btneliminarcot:hover {
  background: #777777;
  background-image: -webkit-linear-gradient(top, #777777, #000000);
  background-image: -moz-linear-gradient(top, #777777, #000000);
  background-image: -ms-linear-gradient(top, #777777, #000000);
  background-image: -o-linear-gradient(top, #777777, #000000);
  background-image: linear-gradient(to bottom, #777777, #000000);
  text-decoration: none;
  color: #fff;
}

#formulario{
  background-color: #c5c4c4;
}

#tablaSeleccionados {
  max-width: 100%;
  margin: 10px auto;
  overflow-x: auto;
}

#tablaSeleccionados td:nth-child(2) {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
}

.styled-table th,
.styled-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.styled-table th {
    background-color: #f2f2f2;
}

.limited-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.limited-text:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.limited-text::before {
    content: attr(data-full-text);
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    z-index: 1;
    white-space: normal;
    max-width: 300px;
    display: none;
}

.limited-text:hover::before {
    display: block;
}

.container {
  width: 100%; 
  max-width: 900px; 
  margin: 0 auto; 
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.container form {
  width: 100%; 
}

.container form table {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
  table-layout: auto;
}

.container form table th,
.container form table td {
  padding: 8px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.container form table th {
  background-color: #f0f0f0; 
}
.t{
  width: 100%;
  margin-top:5vh;
}
