body {
    background-color: #F0FAFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #F2E1CB;
}

tr:nth-child(even) {
    background-color: #CBE4F2;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 2%;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #CBE4F2;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

input[type="submit"]:hover {
    background-color: #7B96A6;
    color: #fff;
}

.cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1 { grid-area: 2 / 1 / 3 / 2; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2 { grid-area: 2 / 3 / 3 / 4; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-group {
        display: flex;
        align-items: center;
    }
    
    .input-group input[type="text"] {
        flex: 1;
        min-width: 0;
        border-radius: 20px;
        padding: 8px 12px;
        max-width: 200px;
        width: 100%;
    }
    
    .input-group-btn {
        margin-left: 10px;
    }
    
    .input-group-btn input[type="submit"] {
        padding: 8px 16px;
    }

    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;
      }
      .navbar ul li {
        display: inline;
        margin-right: 40px;
      }

      .navbar ul li:hover {
        background-color: #7B96A6;
      }
      .navbar ul li:last-child {
        margin-right: 0;
      }
      .navbar ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .navbar {
        width: 100%;
        background-color: #D9981E;
        padding: 20px 0;
        text-align: center;
      }
      .navbar h1 {
        margin: 0;
        color: black;
      }
      .form-container {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .input-group {
        margin-top: 20px;
        margin-top: 20px;
      }
      .form-control {
        width: 300px;
        padding: 10px;
      }
      .btn2 {
        padding: 10px 20px;
        margin-bottom: 4px;
      }

      .btn2 {
        background: #f0c760;
        background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
        background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
        background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
        background-image: -o-linear-gradient(top, #f0c760, #d6941a);
        background-image: linear-gradient(to bottom, #f0c760, #d6941a);
        -webkit-border-radius: 60;
        -moz-border-radius: 60;
        border-radius: 60px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 34px;
        padding: 18px 40px 18px 40px;
        text-decoration: none;
      }
      
      .btn2:hover {
        background: #777777;
        background-image: -webkit-linear-gradient(top, #777777, #000000);
        background-image: -moz-linear-gradient(top, #777777, #000000);
        background-image: -ms-linear-gradient(top, #777777, #000000);
        background-image: -o-linear-gradient(top, #777777, #000000);
        background-image: linear-gradient(to bottom, #777777, #000000);
        text-decoration: none;
      }