.btn1 {
    background: #f0c760;
    background-image: -webkit-linear-gradient(top, #f0c760, #d6941a);
    background-image: -moz-linear-gradient(top, #f0c760, #d6941a);
    background-image: -ms-linear-gradient(top, #f0c760, #d6941a);
    background-image: -o-linear-gradient(top, #f0c760, #d6941a);
    background-image: linear-gradient(to bottom, #f0c760, #d6941a);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: x-large;
    text-decoration: none;
    width: 100%;
    padding: 5px 8px;
  }
  @media (max-width: 700px) {
    .btn1 {
      font-size: medium;
    }
  }
  
  .btn1:hover {
    background: #777777;
    background-image: -webkit-linear-gradient(top, #777777, #000000);
    background-image: -moz-linear-gradient(top, #777777, #000000);
    background-image: -ms-linear-gradient(top, #777777, #000000);
    background-image: -o-linear-gradient(top, #777777, #000000);
    background-image: linear-gradient(to bottom, #777777, #000000);
    text-decoration: none;
    cursor: pointer;
  }
  
  .cabeza{
      width: 100%;
      height: 50vh;
      background-color: #D9981E;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
      text-align: center;
      --padding-contenedor: 0;
      display: grid;
      grid-auto-rows: max-content;
      align-content: center;
      font-size: xx-large;
  }

  .botones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr) repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-width: 0;
    min-height: 0;
  }
.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 3 / 2 / 4 / 3; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 3 / 4 / 4 / 5; }
.div5 { grid-area: 3 / 3 / 3 / 4; }
