.lh-1 {
    line-height: 1 !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}